    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
body{
  background-color: rgb(244, 240, 240);
}
  

    @media (min-width: 1024px) {
      .principal {
        position: relative;
        width: 80%; /* Largeur en pourcentage */
        max-width: 1200px; /* Largeur maximale */
        left: 65px;
        
      }
    }
    
  .bloc1 {
    position: relative;
    right: -220px;
    top: 100px;
    background-color: hsl(31, 66%, 93%);
    width: 300px;
    height: 450px;
    border-radius: 25px;
    
  }

  .bloc2 {
    position: relative;
    right: -550px;
    top: -399px;
    background-color: hsl(256, 67%, 59%);
    width: 650px;
    height: 280px;
    border-radius: 25px;
  }

  .bloc3 {
    position: relative;
    right: -1230px;
    top: -710px;
    background-color: hsl(254, 88%, 90%);
    width: 300px;
    height: 600px;
    border-radius: 25px;
  }
  .bloc4 {
    position: relative;
    left: 220px;
    top: -855px;
    background-color: hsl(39, 100%, 71%);
    width: 300px;
    height: 420px;
    border-radius: 25px;
  }
  .bloc5 {
    position: relative;
    left: 890px;
    top: -1450px;
    background-color: hsl(39, 100%, 71%);
    width: 310px;
    height: 285px;
    border-radius: 25px;
    overflow: hidden;
  }
  .bloc6 {
    position: relative;
    left: 550px;
    top: -1735px;
    background-color: white;
    width: 310px;
    height: 288px;
    border-radius: 25px;
    overflow: hidden;
  }

  .bloc7 {
    position: relative;
    left: 550px;
    top: -1770px;
    background-color: white;
    width: 310px;
    height: 283px;
    border-radius: 25px;
  }

  .bloc8 {
    position: relative;
    left: 891px;
    top: -2090px;
    background-color: hsl(256, 67%, 59%);
    width: 640px;
    height: 278px;
    border-radius: 25px;
  }
  .post{
    position: relative;
    /*text-align: center;*/
    top: 60px;
    font-size: 32px;
    left: 50px;

  }
 
  .quicker{
    color: blueviolet;
  }
  .on {
    position: relative;
    height: 80px;
    top: 90px;
    left: 65px;
  }
  .b2{
    position: relative;
    color: white;
    font-size: 50px;
    text-align: center;
    top: 34px;
  }
  .x10{
    color:  hsl(39, 100%, 71%);
  }
  .imb2{
    position: relative;
    height: 35px;
    top: -42px;
  }
  .b2l{
    position: relative;
    font-size: 20px;
    top: -60px;
  }
  .B3{
    position: relative;
    top: 90px;
    font-size: 34px;

  }
  .img3 {
    position: relative;
    height: 250px;
    top: 23px;
    width: 200px;
    left: 40px;
  }
  .opti{
    position: relative;
    font-size: 15px;
    left: 29px;
    
  }
  .b4{
    position: relative;

  }
  .imb4{
    position: relative;
    height: 250px;
    left: 35px;
    top: 30px ;
  }
  .bp4{
    position: relative;
    font-size: 30px;
    top: 25px;
    left: 23px;
  }
  .imb6{
    position: relative;
    height: 72px;
    top: 20px;
    width: 410px;
  }
  .b6p{
    position: relative;
    font-size: 30px;
    left: 14px;
    top: 20px;
  }
  .b5p{
    position: relative;
    font-size: 30px;
    left: 20px;
    top: 23px;
  }
  .imb5{
    position: relative;
    height: 150px;
    left: 25px;
    top: 18px;
    width: 260px;
  }
  .b7p{
    position: relative;
    font-size: 60px;
    left: 50px;
    top: 20px;
  }
  .b7p2{
    position: relative;
    left: 50px;
  }
  .imb7{
    position: relative;
    height: 100px;
    left: 11%;
  }

  .imb8{
    position: relative;
    height: 250px;
    top: -160px;
    left: 30px;
  }
  .b8p{
    position: relative;
    left: 320px;
    font-size: 40px;
    top: 70px;
    color: white;
  }
  .b3p{
    position: relative;
    top: -35px;
    left: 15px;
  }
  .opti{
    position: relative;
    font-size: 20px;
  }